@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }

  body {
    @apply bg-slate-950 text-slate-50 antialiased;
  }

  ::selection {
    @apply bg-sky-500/60 text-slate-900;
  }
}
